<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzz.yora">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:name="infrastructure.YoraApplication"
        >

        <activity android:name="activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name="activities.LoginActivity"/>
        <activity android:name="activities.LoginNarrowActivity"/>

    </application>

</manifest>
